body {
background-color: beige;

}

.Home{
    background: url(Background.JPG) no-repeat;
    background-size: cover;

}

.Home .content-wrapper {
    background: rgba(211, 254, 255, 0.582);
}

h1 {
font-size: 64pt;
font-style: italic;
text-align: center;
}

h2 {
font-size: 36pt;
font-style: oblique;
text-align: center;
}

p{
    text-align: center;
}

